// TYPOGRAPHY SASS CLASS EXTENDS
%wfx-header {
  font-family: $header-font;
  margin: 0;
}

%wfx-sub-header {
  font-family: $body-font;
  margin: 0;
}

%wfx-body {
  font-family: $body-font;
  margin: 0;
}

%wfx-header--h1 {
  @extend %wfx-header;
  font-size: 40px;
  font-weight: header-weight(bold);
}

%wfx-header--h2 {
  @extend %wfx-header;
  font-size: 30px;
  font-weight: header-weight(semibold);
  padding: 0 0 em(20, 30);
}

%wfx-header--h3 {
  @extend %wfx-sub-header;
  font-size: 24px;
  font-weight: weight(bold);
  padding: em(20, 24) 0;
}

%wfx-header--h4 {
  @extend %wfx-sub-header;
  font-size: 18px;
  font-weight: weight(bolder);
}

%wfx-header--h5 {
  @extend %wfx-sub-header;
  font-size: 18px;
  font-weight: weight(bold);
}

%wfx-header--h6 {
  @extend %wfx-sub-header;
  font-size: 10px;
  font-weight: weight(regular);
  text-transform: uppercase;
}

%wfx-bodytext {
  @extend %wfx-body;
  font-size: 15px;
  line-height: em(24, 20);
  vertical-align: middle;
  font-weight: weight(regular);
  padding: 0 0 em(20, 20);
  a {
    color: color(blue);
  }
}

%wfx-bodytext small,
%wfx-bodytext--small  {
  font-size: 11px;
  line-height: 14px;
}
