// Color palette
$default-base-color: #333333;

$palette: (
  // -- Basic Color Palette
  black: (
    dark:         #000000,
    base:         #2F2F2F,
    light:        #454545,
  ),

  blue: (
    dark:         #0287E8,
    base:         #57B8FF,
    light:        #8CCFFF,
  ),

  red: (
    dark:         #990000,
    base:         #EA4545,
    light:        #EA9999,
  ),

  orange: (
    dark:         #F09500,
    base:         #ff9f00,
    light:        #FEDBA7,
  ),

  grey: (
    dark:         #909090,
    base:         #CBCBCB,
    light:        #F9F9F9,
  ),

  // -- Transparency shade tones
  translucid: (
    darker:       rgba(0, 0, 0, 0.8),
    dark:         rgba(0, 0, 0, 0.5),
    base:         rgba(255, 255, 255, 0.2),
    light:        rgba(255, 255, 255, 0.3),
    lighter:      rgba(255, 255, 255, 0.6),
    transparent:  rgba(255, 255, 255, 0.0)
  )
);
