$browser-locationbar-height: 50px;

// STACKING LEVELS - USE Z-INDEX: LEVEL(LEVEL_NAME) RATHER THAN HARCODING VALUES
$levels: (
  base:         0,
  dropdown:    50,
  sticky:     100,
  overlay:    200,
  modal:      300,
  game:       600,
);

// FONT VARIABLES
$header-font: 'Open Sans', sans-serif;
$body-font:   'Montserrat', sans-serif;
$icon-font:   'wfx-starter';

$header-font-weights: (
  light:          300,
  semibold:       600,
  bold:           700
);

$font-weights: (
  regular:        400,
  bold:           500, // Eq. "medium"
  bolder:         600, // Eq. "semi-bold"
);

// TEXT SETUP, FONT FAMILIES AND WEIGHTS
$browser-context: 16;

// GLOBAL GRID SETTINGS
$gutter:                  20px;
$max-width:             1170px;
$grid-cell-size-small:   168px;
