<section class="add wfx-animation--slide-in">
  <wfx-post-header mode="add" [post]="{
      title: 'New post',
      image_url: './../../../assets/images/publish-header.png'
    }"
    [class.post-header--onloading]="(postState$ | async).isLoading"
    [class.post-header--onerror]="(postState$ | async).hasErrors">
  </wfx-post-header>
  <div class="add__form">
    <wfx-post-form (save)="onSave($event)" [class.post-form--onloading]="(postState$ | async).isLoading"></wfx-post-form>
  </div>
</section>
