@import "wfx-toolkit";

.app {
  @include enable-3D-acceleration;

  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;

  &__browser {
    display: flex;
    flex-direction: column;
    width: 250px;
    background: color(black);
    border-top: 3px solid color(orange, light);
    border-right: 1px solid color(grey, light);

    &-logo {
      display: block;
      padding: .4em 1em;
      text-align: center;
      background: white;
      cursor: pointer;
      
      img {
        width: $sidenav-width;
      }

      &:hover img {
        opacity: .8;
      }
    }
    
    &-posts {
      flex: 2;
      overflow-x: hidden;
      overflow-y: auto;
      @include box-shadow(inset 0px 2px 7px -2px color(black, dark));
    }
  }
  
  &__main {
    flex: 2;
    background: color(orange, dark) url('./../assets/images/bg-pattern.png') no-repeat center center;
    border-top: 3px solid color(orange);
  }
}