*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: em($browser-context);
  font-family: $body-font;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
}

a,
*:hover,
*:active,
*:focus,
object,
embed {
   outline: none;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

figure {
  margin: 0;
  @extend %wfx-bodytext;
}

h1 {
  @extend %wfx-header--h1;
}

h2 {
  @extend %wfx-header--h2;
}

h3 {
  @extend %wfx-header--h3;
}

h4 {
  @extend %wfx-header--h4;
}

h5 {
  @extend %wfx-header--h5;
}

h6 {
  @extend %wfx-header--h6;
}

p {
  @extend %wfx-bodytext;
  a:hover {
    text-decoration: underline;
  }
}

p small {
  @extend %wfx-bodytext--small;
}

li {
  @extend %wfx-bodytext;
}
