@import "wfx-toolkit";

:host {
  @include body-footer-layout;
}

.item {
  display: flex;
  border-bottom: 1px solid color(black, light);
  border-left: 5px solid;
  border-left-color: color(black);
  margin-left: 0;
  padding: 1em;
  line-height: 46px;
  color: color(grey, dark);
  transition: color .3s, border-color .4s;
  cursor: pointer;

  &__image {
    border: 4px solid;
    border-color: color(orange);
    border-radius: 100px;
    width: 45px;
    height: 45px;
    overflow: hidden;
    margin-right: 1em;
    transition: border-color .5s;
    
    &-bitmap {
      height: 45px;
      filter: grayscale(100%) brightness(150%);
      transition: filter .5s;
    }
  }

  &:hover {
    border-left-color: color(orange);
    margin-left: 0;
    color: color(orange);

    .item__image { 
      border-color: color(blue, dark);
    }
    
    .item__image-bitmap {
      filter: grayscale(0%) brightness(100%);
    }
  }
}

.add-link {
  @include bottombutton(color(orange), color(orange, dark));
}